@media only screen and (min-device-width: 680px), only screen and (min-width: 680px) {
    .about-container .about br.mobile:not(.desktop) {
        display: none;
    }

    .events-container .events .event .img-container:hover {
        cursor: pointer;
        margin-top: -0.75vw;

        width: 14.5vw;
        height: 14.5vw;
    }

    .events-container .events .event .img-container:hover + p {
        color: #ef902a;
    }
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.cover-image-full-width {
    background: no-repeat center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

.cover-image-full-height {
    background: no-repeat center center;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
}

.hover-zoom-in {
    transition: background-size .3s linear;
    cursor: pointer;
}

.cover-image-full-height.hover-zoom-in:hover {
    background: no-repeat center center;
    -webkit-background-size: auto 120%;
    -moz-background-size: auto 120%;
    -o-background-size: auto 120%;
    background-size: auto 120%;
}

.cover-image-full-width.hover-zoom-in:hover {
    background: no-repeat center center;
    -webkit-background-size: 120% auto;
    -moz-background-size: 120% auto;
    -o-background-size: 120% auto;
    background-size: 120% auto;
}

.full-height-img {
    height: 100%;
}

.full-width-img {
    width: 100%;
}

/*menu*/
.menu-container {
    display: flex;
    justify-content: space-between;
    /*border-bottom: 1px solid rgba(252,214,188, 1);*/
    padding: 2vw 5vw;
    align-items: center;
}

.menu-container .logo {
    height: 100%;
}

.menu-container .logo img {
    height: 5vw;
    /*margin-left: 3vw;*/
}

.menu-container .menu {
    display: flex;
    justify-content: space-around;
}

.menu-container .menu a {
    font-weight: 700;
    font-size: 1.5vw;
    margin: 1vw 0 1vw 3vw;
    color: #6a6a6a;
    transition: color 0.3s ease;
}

.menu-container .menu a:hover {
    cursor: pointer;
    color: #f9a027;
}

.menu-container .menu a.active {
    color: #f9a027;
}

/*main event*/
.main-events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw 5vw;
}

.main-events-container .main-event {
    height: 37vw;

    display: flex;
    justify-content: center;
}

.main-events-container .main-event .image {
    background-image: url(../content/events/main-event/main-photo.jpg);
    display: flex;
    height: 100%;
    width: 37vw;;
}

.main-events-container .main-event .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 32vw;
    padding-left: 5vw;
}

.main-events-container .main-event .information .text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.main-events-container .main-event .information .header {
    font-size: 2.8vw;
    color: #f9a027;
    margin-top: .7vw;
    margin-bottom: 1.5vw;
    line-height: 1.5em;
}

.main-events-container .main-event .information .description {
    line-height: 2em;
    margin-bottom: 3vw;
    text-align: end;
    font-size: 1.4vw;
}

.main-events-container .main-event .information .date,
.main-events-container .main-event .information .price {
    margin-bottom: 1.5vw;;
    margin-top: 0;
    font-weight: 700;
    font-size: 1.5vw;
    color: #3a3a3a;
}

.main-events-container .main-event .button {
    background-color: #f9b87d;
    height: 5vw;
    width: 29vw;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.main-events-container .main-event .information .button p {
    letter-spacing: 1px;
    font-size: 2.2vw;
}

.main-events-container .main-event .button:hover,
.event-container .sign-btn:hover {
    cursor: pointer;
    background-color: #f97f47;
}

/*sub events*/
.main-events-container .sub-events {
    margin-top: 9vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 21vw;
}

.main-events-container .sub-events .sub-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 21vw;
    width: 35vw;

    transition: all 0.5s ease;
}

.main-events-container .sub-events .sub-event p:first-child {
    margin-bottom: 0;
}

.main-events-container .sub-events .sub-event p:nth-child(2) {
    margin-top: .7em;
}

.main-events-container .sub-events .sub-event:nth-child(2) {
    /*margin-left: 12vw;*/
}

.main-events-container .sub-events .sub-event:hover {
    cursor: pointer;
    height: 23vw;
    width: 37vw;
    margin: 0 3vw;
}

.main-events-container .sub-events .little-event {
    height: 13vw;
    width: 24vw;
    margin: 0 4vw;
}

.main-events-container .sub-events .little-event .info p {
    font-size: calc(24vw * 0.06);
    margin: .4em 0;
}

.main-events-container .sub-events .sub-event.left-event {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../content/events/left-event/main-photo.jpg");
}

.main-events-container .sub-events .sub-event.left-event:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../content/events/left-event/main-photo.jpg");
}

.main-events-container .sub-events .sub-event.right-event {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../content/events/right-event/main-photo.jpg");
}

.main-events-container .sub-events .sub-event.right-event:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../content/events/right-event/main-photo.jpg");
}

.main-events-container .sub-events .sub-event:hover .info {
    opacity: 0;
}

.main-events-container .sub-events .sub-event .info p {
    transition: all .5s ease;
}

.main-events-container .sub-events .sub-event .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #ffffff;
    color: #ffffff;
    width: 50%;
    height: 70%;
    text-align: center;
    font-size: calc(28vw * 0.07);
    padding: 0 2vw;
    letter-spacing: 2px;
    opacity: 1;
    transition: all 0.5s ease;
}

/*ksenia story*/

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 5vw 0;
    padding: 5vw 0;
    background-image: url("../images/circle-bg-desktop.jpg");
}

.about-container .about {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 3vw 5vw 3vw 8vw;
    height: 46vw;
}

.about-container .about .description {
    width: 55%;
    margin-right: 7vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #444444;
    line-height: 1.5em;
    font-size: 1.5vw;
}

.about-container .about .main-photo {
    height: 46vw;
}

.about-container .about .description .header {
    color: #ef902a;
    font-family: 'Playfair Display', serif;
    font-size: 3.5vw;
    margin: 0 0 3vw 0;
    line-height: 1.3em;
}

.about-container .about .description .tab-text {
    margin-left: 8vw;
}

.about-container .about .description .middle-text {
    display: flex;
    justify-content: space-between;
    margin: 2.1vw 0;
    padding-right: 1vw;
    align-items: center;
}

.about-container .about .description .middle-text .image {
    background-image: url("../images/ksenia-work.jpg");
    background-position-y: 20%;
    width: 20vw;
    height: 14.5vw;
}

.about-container .slogan {
    align-self: center;
    font-size: 1.9vw;
    margin-top: 2vw;
    margin-left: 10vw;
    color: #ef902a;
}

/*gallery*/
.gallery-container,
.events-container {
    display: flex;
    flex-direction: column;

    padding: 0 5vw;
}

.gallery-container .header,
.events-container .header {
    align-self: flex-start;
    color: #ef902a;
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    margin: 0 0 2vw 0;
}

.gallery-container .header {
    margin-left: 5vw;
}

.events-container .header {
    align-self: flex-end;
    margin-right: 5vw;
}

.gallery-container .gallery {
    align-self: center;
    margin: 4vw 0 7vw 0;

    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

.gallery-container .gallery .arrow {
    width: 2vw;
    transition: all 0.3s ease;
}

.svg-arrow {
    fill: #7c7c7c;
    stroke: #7c7c7c;
    stroke-miterlimit: 10;

    transition: all 0.3s ease;
}

.gallery-container .gallery .arrow.inactive .svg-arrow {
    fill: #b5b5b5;
    stroke: #b5b5b5;
}

.gallery-container .gallery .arrow:not(.inactive):hover {
    cursor: pointer;
    width: 3vw;
}

.gallery-container .gallery .arrow.left:not(.inactive):hover{
    margin-left: -1vw;
}

.gallery-container .gallery .arrow.right:not(.inactive):hover{
    margin-right: -1vw;
}

.gallery-container .gallery .arrow:not(.inactive):hover .svg-arrow {
    fill: #ef902a;
    stroke: #ef902a;
}

.gallery-container .gallery .photos-container {

    height: 34vw;
    display: flex;
    position: relative;
    width: 67vw;
    justify-content: center;
    overflow: hidden;
}

.gallery-container .gallery .photos-container #photosViewer .photoSet {
    display: flex;
    margin-right: 5.5vw;
}

.gallery-container .gallery .photos-container #photosViewer {
    left: 0;
    position: absolute;
    height: 34vw;
    display: flex;
}

.gallery-container .gallery .photos-container .main-photo {
    width: 34vw;
    margin-right: 2.5vw;
}

.gallery-container .gallery .photos-container .side-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-right: 1vw;*/
}

.gallery-container .gallery .photos-container .side-photos .side-photo {
    height: 46%;
    width: 30vw;
}

/*events*/
.events-container {
    padding: 4vw 5vw;
    background-color: rgba(252, 214, 188, 0.2);
}

.events-container .events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-container .events .event-row {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.events-container .events .event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20.5vw;
    width: 30vw;
}

.events-container .events .event .img-container {
    border-radius: 50%;
    width: 13vw;
    height: 13vw;

    background: no-repeat center center;
    -webkit-background-size: 15vw 15vw;
    -moz-background-size: 15vw 15vw;
    -o-background-size: 15vw 15vw;
    background-size: 15vw 15vw;

    transition: height 0.3s linear, width 0.3s linear, margin 0.3s linear;
}

.events-container .events .event p {
    height: 6vw;
    text-align: center;
    font-size: 1.5vw;
    line-height: 2em;
    color: #444444;
    margin: 0;

    transition: color 0.3s linear;
}

.footer {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
}

.footer .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .5vw;
}

.footer .socials svg {
    height: 4vw;
    margin: 0 .7vw;
}

.footer .socials svg:first-child {
    height: 3.6vw
}

.footer .socials .svg-socials {
    fill: #3a3a3a;
    transition: fill 0.3s ease;
}

.footer .socials svg:hover {
    cursor: pointer;
}

.footer .socials svg:hover .svg-socials {
    fill: #ef902a;
}
