<div class="event-container" ng-controller="eventCtrl">
    <a class="back-btn" href="#!">ВЕРНУТЬСЯ</a>
    <div class="header">
        <div class="gallery">
            <div class="photo side-photo cover-image-full-height" style="background-image: url(images/tkan-01.jpg)"></div>
            <div class="photo main-photo cover-image-full-height" style="background-image: url(images/tkan-02.jpg)"></div>
            <div class="photo side-photo cover-image-full-height" style="background-image: url(images/tkan-03.jpg)"></div>
        </div>
        <div class="info-container">
            <p class="title" ng-bind-html="event.title | sanitize"></p>
            <div class="details-container">
                <div class="detail">
                    <img src="images/clock.svg">
                    <p class="details-description">длительность {{event.duration}}</p>
                </div>
                <div class="detail">
                    <img src="images/price.svg">
                    <p class="details-description">{{event.cost}} грн</p>
                </div>
                <div class="detail">
                    <img src="images/people.svg">
                    <p class="details-description">{{event.audience}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="event-description">
        <p ng-repeat="description in event.descriptionSet" ng-bind-html="description | sanitize"></p>
    </div>
    <div class="sign-btn">ЗАПИСАТЬСЯ</div>
</div>