<div class="event-container fadeInOnLoad" ng-controller="eventCtrl">
    <a class="back-btn" href="#!">ВЕРНУТЬСЯ</a>
    <div class="header">
        <div class="gallery">
            <div id="leftPhoto"
                 class="photo side-photo cover-image-full-height"
                 ng-click="updateMainPhoto('leftPhoto')"
                 ng-style="{'background-image': 'url(content/events/' + event.id + '/01.jpg)'}"></div>
            <div id="mainPhoto" class="photo main-photo cover-image-full-height"
                 ng-style="{'background-image': 'url(content/events/' + event.id + '/02.jpg)'}"></div>
            <div id="rightPhoto"
                 class="photo side-photo cover-image-full-height"
                 ng-click="updateMainPhoto('rightPhoto')"
                 ng-style="{'background-image': 'url(content/events/' + event.id + '/03.jpg)'}"></div>
        </div>
        <div class="info-container">
            <p class="title" ng-bind-html="event.title | sanitize"></p>
            <p class="date">{{getDateName(event.date)}}</p>
            <div class="details-container">
                <div class="detail">
                    <img src="images/clock.svg">
                    <p class="details-description">длительность {{event.duration}}</p>
                </div>
                <div class="detail">
                    <img src="images/price.svg">
                    <p class="details-description">{{event.price}}</p>
                </div>
                <div class="detail">
                    <img src="images/people.svg">
                    <p class="details-description">{{event.people}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="event-description">
        <p ng-repeat="description in event.description" ng-bind-html="description | sanitize"></p>
    </div>
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfTpqknilmUIC90HfnfJSifpHZe34a5j0WrtUdfRAsoIPt1xQ/viewform"
       class="sign-btn fadeInOnView">ЗАПИСАТЬСЯ</a>
</div>