<div class="menu-container" id="menu" ng-controller="menuCtrl">
    <div class="logo"><img src="images/logo.svg"></div>
    <div class="menu">
        <a id="header-link" ng-click="scrollTo('header')"
           ng-class="{'active': activeMenuId == 'header-link'}">ГЛАВНАЯ</a>
        <a id="about-link" ng-click="scrollTo('about')"
           ng-class="{'active': activeMenuId == 'about-link'}">ОБО МНЕ</a>
        <a id="gallery-link" ng-click="scrollTo('gallery')"
           ng-class="{'active': activeMenuId == 'gallery-link'}">ГАЛЕРЕЯ</a>
        <a id="events-link" ng-click="scrollTo('events')"
           ng-class="{'active': activeMenuId == 'events-link'}">МАСТЕР-КЛАССЫ</a>
        <a id="footer-link" ng-click="scrollTo('footer')"
           ng-class="{'active': activeMenuId == 'footer-link'}">КОНТАКТЫ</a>
    </div>
</div>
<div id="header" class="main-events-container" ng-controller="mainEventCtrl">
    <div class="main-event">
        <div class="image cover-image-full-height"></div>
        <div class="information">
            <div class="text">
                <p class="header" ng-bind-html="mainEvent.title | sanitize"></p>
                <p class="description" ng-bind-html="mainEvent.shortDescription | sanitize"></p>
                <p class="date">Когда: &nbsp {{getDateName(mainEvent.date)}}</p>
                <p class="price">Цена: &nbsp {{mainEvent.price}}</p>
            </div>
            <a class="button" ng-href="#!event/main-event"><p>ПОДРОБНЕЕ</p></a>
        </div>
    </div>
    <div class="sub-events">
        <a ng-class="leftEvent.isVisible==='yes' ? 'sub-event cover-image-full-width left-event' : 'displayNone'"
           id="left-event"
           ng-mouseover="makeEventSmaller('right-event')" ng-mouseleave="makeEventOrigin('right-event')"
           ng-href="#!event/left-event">
            <div class="info">
                <p ng-bind-html="leftEvent.title | sanitize"></p>
                <p ng-bind-html="leftEvent.date | sanitize"></p>
            </div>
        </a>
        <a ng-class="leftEvent.isVisible==='yes' ? 'sub-event cover-image-full-width right-event' : 'displayNone'"
           id="right-event"
           ng-mouseover="makeEventSmaller('left-event')" ng-mouseleave="makeEventOrigin('left-event')"
           ng-href="#!event/right-event">
            <div class="info">
                <p ng-bind-html="rightEvent.title | sanitize"></p>
                <p ng-bind-html="rightEvent.date | sanitize"></p>
            </div>
        </a>
    </div>
</div>
<div id="about" class="about-container cover-image-full-height">
    <div class="about">
        <div class="description">
            <p class="header">Ксения <br class="desktop"> Могильницкая</p>
            <p class="tab-text">Декупаж и роспись ткани мои любимые <br class="desktop"> направления в творчестве.</p>
            <div class="middle-text ">
                <div class="image cover-image-full-width"></div>
                <p class="text">На мастер-классах я делюсь
                    <br class="desktop"> своим опытом преображения
                    <br class="desktop"> простых вещей <br class="mobile"> в вещи
                    <br class="desktop"> уникальные и эксклюзивные.</p>
            </div>
            <p class="tab-text" style="margin-bottom: 0">Мои ученицы раскрывают свои таланты <br class="desktop">
                и создают оригинальный декор предметов интерьера, <br class="desktop"> одежды и эко-сумочек.</p>
        </div>
        <div class="main-photo"><img class="full-height-img" src="images/ksenia-photo.jpg"></div>
    </div>
    <div class="slogan"><p>Приходите творить и вдохновляться...</p></div>
</div>
<div id="gallery" class="gallery-container" ng-controller="galleryCtrl">
    <div class="header">Как это бывает</div>
    <div class="gallery">
        <div class="arrow inactive left" id="galleryLeftArrow" ng-click="leftArrowClick()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 68">
                <g>
                    <path class="svg-arrow"
                          d="M35,64.65a0.79,0.79,0,1,1-1.12,1.12L2.23,34.13a0.79,0.79,0,0,1,0-1.12L33.87,1.37A0.79,0.79,0,0,1,35,2.49L3.9,33.57Z"/>
                </g>
            </svg>
        </div>
        <div class="photos-container">
            <div id="photosViewer">
                <div class="photoSet" ng-repeat="i in  [] | range:4">
                    <div class="main-photo cover-image-full-height"
                         ng-style="{'background-image': 'url(content/gallery/' + {{i*3}} + '.jpg)'}"></div>
                    <div class="side-photos">
                        <div class="side-photo cover-image-full-width top-photo"
                             ng-style="{'background-image': 'url(content/gallery/' + {{i*3+1}} + '.jpg)'}"></div>
                        <div class="side-photo cover-image-full-width bottom-photo"
                             ng-style="{'background-image': 'url(content/gallery/' + {{i*3+2}} + '.jpg)'}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow right" id="galleryRightArrow" ng-click="rightArrowClick()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 68">
                <g>
                    <path class="svg-arrow"
                          d="M2.23,64.65a0.79,0.79,0,1,0,1.12,1.12L35,34.13A0.79,0.79,0,0,0,35,33L3.35,1.37A0.79,0.79,0,0,0,2.23,2.49L33.32,33.57Z"/>
                </g>
            </svg>
        </div>
    </div>
</div>
<div id="events" class="events-container">
    <div class="header">Мастер-классы</div>
    <div class="events">
        <div class="event-row" ng-repeat="eventSet in eventsSets">
            <div class="event" ng-repeat="event in eventSet">
                <a class="img-container" ng-attr-id="{{event.id}}" ng-href="#!event/{{event.id}}" ng-click="setEventId(event.id)"
                   ng-style="{'background-image': 'url(content/events/' + event.id + '/main-photo.jpg)'}">
                </a>
                <p ng-bind-html="event.title | sanitize"></p>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="footer">
    <p>E-mail: sales@parmax.kiev.ua</p>
    <div class="socials">
        <a target="_blank" href="https://www.facebook.com/beautiful.solutions.of.ordinary.things/?ref=profile_intro_card">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 30" x="0px" y="0px">
                <path class="svg-socials"
                      d="M7.42,14.08H8.77v6.76a1.42,1.42,0,0,0,1.42,1.41h2.68a1.42,1.42,0,0,0,1.43-1.41V14.08h1.35a1.64,1.64,0,0,0,1.34-1l.92-1.81a.49.49,0,0,0,0-.1A1.4,1.4,0,0,0,17.7,10a1.42,1.42,0,0,0-1.12-.54H14.3V6.82h2.27A1.42,1.42,0,0,0,18,5.42V3.16a1.42,1.42,0,0,0-1.42-1.41H13.8c-3.38,0-5,2.09-5,6.39V9.45H7.42A1.42,1.42,0,0,0,6,10.86v1.81A1.42,1.42,0,0,0,7.42,14.08ZM7,10.86a.42.42,0,0,1,.42-.41H9.27a.5.5,0,0,0,.5-.5V8.14c0-3.78,1.2-5.39,4-5.39h2.77a.42.42,0,0,1,.42.41V5.42a.42.42,0,0,1-.42.41H13.8a.5.5,0,0,0-.5.5V10a.5.5,0,0,0,.5.5h2.77a.43.43,0,0,1,.34.16.39.39,0,0,1,.08.3l-.89,1.74c-.16.29-.37.43-.46.43H13.8a.5.5,0,0,0-.5.5v7.26a.42.42,0,0,1-.43.41H10.2a.42.42,0,0,1-.42-.41V13.58a.5.5,0,0,0-.5-.5H7.42A.42.42,0,0,1,7,12.67Z"/>
            </svg>
        </a>
        <a target="_blank" href="https://www.instagram.com/prettiness_ksenia/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 30" x="0px" y="0px">
                <g class="svg-socials">
                    <path d="M16,3.5H8A4.5,4.5,0,0,0,3.5,8v8A4.5,4.5,0,0,0,8,20.5h8A4.5,4.5,0,0,0,20.5,16V8A4.5,4.5,0,0,0,16,3.5ZM19.5,16A3.5,3.5,0,0,1,16,19.5H8A3.5,3.5,0,0,1,4.5,16V8A3.5,3.5,0,0,1,8,4.5h8A3.5,3.5,0,0,1,19.5,8Z"/>
                    <path d="M12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,7a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z"/>
                    <path d="M16.5,6.5a1,1,0,1,0,1,1A1,1,0,0,0,16.5,6.5Zm0,1h0Z"/>
                </g>
            </svg>
        </a>
    </div>
</div>